In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import random
#固定跑500次

data=pd.read_csv('hw1_18_train.dat.txt',sep=' ',header=None)
data.columns = ['X1','X2','X3','X4','Y']

data['X0']=1
start=random.randint(0,500)
data.iloc[start]
# shift column 'Name' to first position
first_column = data.pop('X0')

# insert column using insert(position,column_name,
# first_column) function
data.insert(0, 'X0', first_column)

In [2]:
def sign(x):
    if x>0:
        return 1
    elif x<0:
        return -1

In [3]:
w=np.array(data[['X0','X1','X2','X3','X4']].iloc[0])[np.newaxis]

array([[1.     , 0.94544, 0.42842, 0.79833, 0.16244]])

In [5]:
data = data.sample(frac=1).reset_index(drop = True)

In [6]:
data

     X0        X1       X2        X3       X4  Y
0     1  0.567790  0.54134  0.303240  0.21922  1
1     1  0.899300  0.53183  0.679290  0.58757  1
2     1  0.492370  0.13036  0.615080  0.86846  1
3     1  0.107930  0.67764  0.046448  0.42205 -1
4     1  0.907390  0.54535  0.504650  0.48081 -1
..   ..       ...      ...       ...      ... ..
495   1  0.485620  0.81802  0.596000  0.30847 -1
496   1  0.699230  0.19624  0.052588  0.50421  1
497   1  0.075177  0.38532  0.633360  0.48658  1
498   1  0.129550  0.57860  0.797140  0.31898 -1
499   1  0.662350  0.89901  0.025559  0.60776 -1

[500 rows x 6 columns]

In [ ]:
w=np.array(data[['X0','X1','X2','X3','X4']].iloc[0])[np.newaxis]
# W = np.array(df_train[['x0','x1','x2','x3','x4']].iloc[0])[np.newaxis]
data = data.sample(frac=1).reset_index(drop = True)
Error=[]
n=500
for i in range(n):
    w=w/(sum(w**2))**0.5
    data['y_hat']=np.dot(data[['X0','X1','X2','X3','X4']],w.transpose())
    data['y_hat']=data['y_hat'].apply(lambda x:sign(x))
    d_error=data[data['Y']!=data['y_hat']]
    random_dot=np.random.randint(0,len(d_error))
    err=d_error.iloc[random_dot][['X0','X1','X2','X3','X4']]*d_error.iloc[random_dot]['Y']
    err=err/(sum(err**2))**0.5
    err=np.array(err).reshape(5,1)
#     print(err)
    w=w+err
    err_rate=len(d_error)/len(data)
#     print('err_rate:',err_rate,'w:',w,'err:',err,'w-err:',w-err)
    Error.append(err_rate)

In [ ]:
Error

In [ ]:
data.iloc[498]

In [ ]:
forplot = {'Error':Error,
           'Iteration':list(range(0,n))}

forplot = pd.DataFrame(forplot)
sns.lineplot(data=forplot,x='Iteration',y='Error')

In [ ]:
y_hat=np.dot(data[['X0','X1','X2','X3','X4']],w.transpose())

In [ ]:
data['y_hat']=y_hat
data['y_hat']=data['y_hat'].apply(lambda x:sign(x))

In [ ]:
err=data[data['Y']!=data['y_hat']].iloc[0][['X0','X1','X2','X3','X4']]*data[data['Y']!=data['y_hat']].iloc[0]['Y']

In [ ]:
# w=w/(w**2.sum())**0.5 #+(err[['X0','X1','X2','X3','X4']]*err['Y'])
err=err/(sum(err**2))**0.5

In [ ]:
err

In [ ]:
w=w+err
w